In [ ]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import re as re
import seaborn as sns
import datetime as dt

In [ ]:
from google.colab import files
  
  
uploaded = files.upload()

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

KeyboardInterrupt: ignored

In [ ]:
commune=pd.read_excel(r"commune.xlsx")
enroll = pd.read_csv(r"enroll.csv")
quest = pd.read_csv(r"quest.csv")
industry = pd.read_csv(r"industry.csv")
ord = pd.read_csv(r"ord.csv")
study_domain = pd.read_csv(r"study_domain.csv")
transaction = pd.read_csv(r"transaction.csv")
technology = pd.read_csv(r"technology.csv")

In [ ]:
study_domain1 = pd.get_dummies(data=study_domain[["key", "quest_id", "values"]], columns=['values'], prefix="", prefix_sep="")
study_domain2 = study_domain1.groupby("quest_id").sum()

In [ ]:
technology1 = pd.get_dummies(technology[["key", "quest_id", "values"]], columns=['values'], prefix="", prefix_sep="")
technology2 = technology1.groupby("quest_id").sum()

In [ ]:
industry1 = pd.get_dummies(data=industry[["key", "quest_id", "values"]], columns=['values'], prefix="", prefix_sep="")
industry2 = study_domain1.groupby("quest_id").sum()

In [ ]:
result=pd.merge(left=quest, right=enroll, how = 'left',on='quest_id')
result1=pd.merge(left=result, right=study_domain2, how = 'left',on='quest_id')
result2=pd.merge(left=result1, right=technology2, how = 'left',on='quest_id')
result3=pd.merge(left=result2, right=industry2, how = 'left',on='quest_id')
commune["Commune_Id"] = commune["Commune_Id"].str.lower()
#commune['id'] = commune["Commune_Id"].apply(lambda x : x[2:])
#commune['commune'] = (commune["Commune_Id"].apply(lambda x : x[0:2].lower())+ commune["Commune_Id"].apply(lambda x : x[2:]))
commune.rename(columns = {"Commune_Id": "commune"}, inplace = True)
#commune = commune.iloc[:, :-1]
#commune.drop(columns= ["lowers", "id"], inplace =True)

In [ ]:
result4=pd.merge(left=result3, right=commune[["Commune_FR","Departement", "commune"]], how = 'left',on='commune')
result4["created_at_x"] = result4["created_at_x"].str[:10]
#val = result4.isna().sum()
#val[val>0]

In [ ]:
#titanic.Age = titanic["Age"].fillna(value=titanic.Age.mean())

#result4["user_id"] = result4['user_id'].apply(lambda x: int(x))

In [ ]:
transaction.head(2)

   Unnamed: 0                created_at  ... course_id  transaction_id
0           0  2021-03-08T05:08:50.832Z  ...   1047613      4641281952
1           1  2021-03-08T17:26:35.841Z  ...   1047613      4644270160

[2 rows x 6 columns]

In [ ]:
ord.head(2)

   Unnamed: 0  ...                              quest_id
0           0  ...  906b3c86-ce95-11eb-b6a7-7c67a234f601
1           1  ...  906636cf-ce95-11eb-8679-7c67a234f601

[2 rows x 13 columns]

In [ ]:
resulta = pd.merge(left=ord, right=transaction, how = 'left',on='user_id')
resulta.head(5)
resulta.shape

   Unnamed: 0_x              created_at_x  ...  course_id transaction_id
0             0  2021-03-14T15:34:35.014Z  ...        NaN            NaN
1             1  2021-03-14T04:20:23.483Z  ...        NaN            NaN
2             2  2021-03-12T19:29:22.832Z  ...        NaN            NaN
3             3  2021-03-12T14:23:11.154Z  ...        NaN            NaN
4             4  2021-03-11T16:01:17.901Z  ...        NaN            NaN

[5 rows x 18 columns]

In [ ]:
result5 = pd.merge(left=result4, right=resulta, how = 'left',on='quest_id')
result5.head(3)

   Unnamed: 0_x_x  gender  ... course_id_y transaction_id
0               0    male  ...         NaN            NaN
1               1  female  ...         NaN            NaN
2               2    male  ...         NaN            NaN

[3 rows x 80 columns]

In [ ]:
result5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 250 entries, 0 to 249
Data columns (total 80 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0_x_x            250 non-null    int64
 1   gender                    250 non-null    object
 2   dob                       244 non-null    object
 3   commune                   250 non-null    object
 4   created_at_x_x            250 non-null    object
 5   modified_at_x             250 non-null    object
 6   department                249 non-null    object
 7   education_level           250 non-null    object
 8   university                250 non-null    object
 9   study_domain              250 non-null    object
 10  current_employed          250 non-null    object
 11  formal_sector_job         250 non-null    object
 12  have_computer_home        250 non-null    object
 13  internet_at_home          250 non-null    object
 14  hear_AA_1                 250 non-null    object
 15  after_AA                  250 non-null    object
 16  quest_id                  250 non-null    object
 17  Unnamed: 0_y_x            102 non-null    float64
 18  created_at_y_x            102 non-null    object
 19  expiry_date               51 non-null     object
 20  user_id_x                 102 non-null    float64
 21  course_name               102 non-null    object
 22  course_id_x               102 non-null    float64
 23  percentage_completed      102 non-null    float64
 24  completed_at              0 non-null      float64
 25  expired                   102 non-null    object
 26  is_free_trial             102 non-null    object
 27  completed                 102 non-null    object
 28  started_at                100 non-null    object
 29  activated_at              65 non-null     object
 30  updated_at                102 non-null    object
 31  Accounting_x              244 non-null    float64
 32  Computer Science_x        244 non-null    float64
 33  Economics_x               244 non-null    float64
 34  Electrical Engineering_x  244 non-null    float64
 35  Law_x                     244 non-null    float64
 36  Management_x              244 non-null    float64
 37  Medicine_x                244 non-null    float64
 38  Statistics_x              244 non-null    float64
 39  other_x                   244 non-null    float64
 40  Bash                      244 non-null    float64
 41  Excel                     244 non-null    float64
 42  Git                       244 non-null    float64
 43  Java                      244 non-null    float64
 44  JavaScript                244 non-null    float64
 45  PHP                       244 non-null    float64
 46  PowerBI or Tableau        244 non-null    float64
 47  Python                    244 non-null    float64
 48  R                         244 non-null    float64
 49  SQL                       244 non-null    float64
 50  VBA                       244 non-null    float64
 51  other_y                   244 non-null    float64
 52  Accounting_y              244 non-null    float64
 53  Computer Science_y        244 non-null    float64
 54  Economics_y               244 non-null    float64
 55  Electrical Engineering_y  244 non-null    float64
 56  Law_y                     244 non-null    float64
 57  Management_y              244 non-null    float64
 58  Medicine_y                244 non-null    float64
 59  Statistics_y              244 non-null    float64
 60  other                     244 non-null    float64
 61  Commune_FR                250 non-null    object
 62  Departement               250 non-null    object
 63  Unnamed: 0_x_y            14 non-null     float64
 64  created_at_x_y            14 non-null     object
 65  user_id_y                 14 non-null     float64
 66  product_name              14 non-null     object
 67  product_id                14 non-null     float64
 68  amount_dollars            14 non-null     float64
 69  amount_cents              14 non-null     float64
 70  subscription              14 non-null     object
 71  coupon_code               3 non-null      object
 72  coupon_id                 3 non-null      float64
 73  affiliate_referral_code   0 non-null      float64
 74  status                    14 non-null     object
 75  Unnamed: 0_y_y            0 non-null      float64
 76  created_at_y_y            0 non-null      object
 77  modified_at_y             0 non-null      object
 78  course_id_y               0 non-null      float64
 79  transaction_id            0 non-null      float64
dtypes: float64(45), int64(1), object(34)
memory usage: 158.2+ KB

In [ ]:
#result5["dob"] = pd.to_datetime(result5["dob"])
result5["dob"].replace({"3 aout 1977": "3/08/1977"}, inplace=True)
result5["dob"] = pd.to_datetime(result5["dob"])

In [ ]:
result5["created_at_x_x"] = pd.to_datetime(result5["created_at_x_x"])

In [ ]:
result5["age"] = (-(result5["dob"]-result5["created_at_x_x"])//365)

In [ ]:
result5["age"] = result5["age"].apply(lambda x: str(x)[:2])

In [ ]:
result5.head(1)

   Unnamed: 0_x_x gender        dob  ... course_id_y transaction_id age
0               0   male 1998-08-25  ...         NaN            NaN  22

[1 rows x 81 columns]